@font-face {
  font-family: Fuente;
  src: url(../font/samsungsharpsans.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fuente;
  text-decoration: none;
  list-style-type: none;
}

header {
  background: #8a817c;
  background: linear-gradient(180deg, #8a817c 0%, #463f3a 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  height: 70px;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 1;
  width: 100%;
}

nav img {
  height: 80%;
  border-radius: 1rem;
}

nav a {
  background-color: #748cab;
  color: #2d2d2d;
  padding: 8px 18px;
  border-radius: 1rem;
  font-size: 15px;
}

nav i {
  color: #2d2d2d;
  font-size: 15px;
}

main {
  background: #463f3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d2d2d;
  width: 100%;
  height: 100vh;
}

.form__container {
  color: #2d2d2d;
  background-color: #bcb8b1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border-radius: 1rem;
  margin-top: 30px;
  gap: 10px;
}

.form__title {
  margin-bottom: 10px;
  font-size: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.form__input {
  background-color: #8a817c;
  padding: 15px 35px 15px 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  width: 350px;
  margin: 5px 0px;
}

input::placeholder {
  color: #f4f3ee;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 90px #f4f3ee inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #f4f3ee !important;
}

.form__submit__btn {
  color: #2d2d2d;
  background-color: #ccd5ae;
  font-size: 15px;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  width: 350px;
}

.form__field.error input {
  border: 2px solid #bc4749;
}

.form__field small {
  color: #bc4749;
  max-width: 350px;
  text-align: center;
  display: none;
}

.form__field.success input {
  border: 2px solid #ccd5ae;
}

#form__error {
  color: #bc4749;
  font-size: 1rem;
  margin: 8px 0px;
  max-width: 350px;
  text-align: center;
}

.form--redirect {
  color: #2d2d2d;
  margin-top: 10px;
}
.form--redirect a {
  color: #f4f3ee;
  text-decoration: none;
}

footer {
  color: #f4f3ee;
  background-color: #463f3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0;
}

footer img {
  width: 6%;
}

footer a {
  color: #f4f3ee;
  font-weight: 300;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
